#intro{
    background-image: url(../images/Background\ image\ main.jpeg);
}
.login, #site{
    text-decoration: none;
    color:white;
}

.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
